<div style="width: 320px; margin: 0 auto;">
    <h1 style="text-align: center" id="剑网三金价">剑网三金价</h1>
    <p style="text-align: center">服务器：梦江南</p>

    <div style="overflow-x: auto; overflow-y: hidden;">
        <table style="width: 300px; border-collapse: collapse; margin: 0 auto;">
            <colgroup>
                <col style="width: 100px">
                <col style="width: 100px">
                <col style="width: 100px">
            </colgroup>
            <thead>
                <tr style="height: 60px; text-align: center;">
                    <th>时间</th>
                    <th>万宝楼</th>
                    <th>贴吧</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr style="text-align: center; height: 50px;">
                    <td>{{ item.date }}</td>
                    <td>{{ item.priceWanbaolou }}</td>
                    <td>{{ item.priceTieba }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
